<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historical Event Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Historical Event Analysis</h1>

        <div class="graph">
            <h2>Cumulative Discoveries Over Time</h2>
            <iframe src="{{ url_for('static', filename='discoveries_and_gdp_over_time.html') }}" width="100%" height="600"></iframe>
        </div>

        <div class="graph">
            <h2>Correlation between Cumulative Discoveries and GDP</h2>
            <iframe src="{{ url_for('static', filename='correlation_scatter_plot_with_regression.html') }}" width="100%" height="600"></iframe>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
